<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="data driven with multiple ways" parallel="tests" thread-count="2">
    <test name="data driven chrome ">
        <parameter name="browserName" value="chrome"/>
        <parameter name="Url" value="https://crio-qkart-frontend-qa.vercel.app/"/>
        <classes>
            <class name="Tests.TestCase01"/>
        </classes>
    </test>
</suite>